@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text: var(--color-background);
  --color-shadow: var(--box-shadow);
  --color-button: var(--salmon);
  --color-dark-text: var(--dark-text);

  --color-button-blue: var(--button-blue);
  --color-button-pink: var(--button-pink);
  --color-button-green: var(--button-green);
  --color-button-yellow: var(--button-yellow);
  --color-button-text: var(--button-text);
}


  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --salmon: #F2968F;
    --dark-text: #333333;
    --box-shadow: #d5d5d57a;

    --content-width: 200rem;
    --button-blue: #ACD7FF;
    --button-pink: #EDA8B3;
    --button-green: #C5E59C;
    --button-yellow: #F1E689;
    --button-text: #6B8B42;

  --step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  --step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
  }

body  {
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: [full-start] 1fr [content-start] minmax(0,600px) [hero-start] minmax(0, 600px) [content-end] 1fr [hero-end];
  grid-template-rows: auto 1fr auto;
}

main{
  grid-column: content;
  background: rgb(255, 255, 255);
}



h1 {
  font-size: var(--step-2);
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 1rem;
}

h2 {
  font-size: var(--step--1);
  line-height: 1.1;
  margin-bottom: 1rem;
  font-weight: bold;
  color: var(--dark-text);
}

h3 {
  font-size: var(--step--2);
  line-height: 1.1;
  margin-bottom: 1rem;
  color: rgb(87, 84, 84);
  font-weight: bold;
}

h4 {
  font-size: var(--step--2);
  line-height: 1.1;
  margin-bottom: 0.5rem;
}

p {
  font-size: var(--step--2);
  line-height: 1.6;
  margin-bottom: 1.5rem;
}



